@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&family=Noto+Sans+JP:wght@300&family=Young+Serif&display=swap');

header
{
    /* position: static; */
    height: 2rem;
    box-shadow: 0 0.2px grey;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
}

.log, h2 
{
    font-weight: 4;
    font-family: 'Young Serif';
    color: #4070F4;
    margin: 0;
}

#menu
{
    font-family: 'Noto Sans JP', sans-serif;
}

.sub-title
{
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 20px;
}

#menu
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.menu-itm
{
    text-decoration: none;
    color: black;
}

#home-menu-itm
{
    border-bottom: 2px solid blue;
}

#home_footer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-top: 2rem;
}

.social-ic
{
    height: 15px;
    width: 15px;
}

h1
{
    font-size: 2.8rem;
    font-family: 'Martian Mono', monospace;
    margin-bottom: 0;
}

span
{
    color: #4070F4;
}

button
{
    border: none;
    height: 30px;
    width: 100px;
    background-color: #4070F4;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

#home_main
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section1
{
    flex: 1;
    padding-left: 5rem;
    margin-bottom: 7rem;
}

#section2
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*PROJECTS STYLES*/
#projects
{
    padding: 20px;
}

.container
{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: consolas;
}

.container .card
{
    position: relative;
    cursor: pointer;
}

.container .card .face
{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1
{
    position: relative;
    background-color: #4070F4;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1
{
    transform: translateY(0);
}

.container .card .face.face1 .content
{
    opacity: 0.8;
    transition: 0.8s;
}

.container .card .face.face1 .content
{
    opacity: 1;
}

.container .card .face.face1 .content img
{
    max-width: 100px;
}

.container .card .face.face1 .content h3
{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

.container .card .face.face2
{
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
    transform: translateY(-100px);
}

.container .card:hover .face.face2
{
    transform: translateY(0);
}

.container .card .face.face2 .content p
{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a
{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    height: 20px;
    width: 90px;
    text-align: center;
    color: #4070F4;
    padding: 3px;
    border: 1px solid #4070F4;
}

.container .card .face.face2 .content a:hover
{
    background: #4070F4;
    color: #fff;
}

/*SKILLS STYLES*/
.skills_container
{
    height: 100vh;
    font-family: consolas;

    display: flex;
    align-items: center;
    justify-content: center;
}

.skills_container .skills_inner_container
{
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    background: #fff;
    opacity: 1;
    height: 80vh;
    width: 80vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.skills_container .skills_inner_container .skills_middle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
}

.skills_container .skills_inner_container .skills_middle .langs_and_tools
{
    height: 55vh; width: 60vw;
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skills_container .skills_inner_container .skills_middle .langs_and_tools .skills_row
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.skills_container .skills_inner_container .skills_middle .langs_and_tools .skill_container
{
    height: 120px;
    width: 110px;
    background-color: #fff;
    color: #4070F4;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-rows: 80% 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skills_container .skills_inner_container .skills_middle .langs_and_tools .skill_container:hover
{
    transition: 1s;
    background: #4070F4;
    color: #fff;
}