@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&family=Noto+Sans+JP:wght@300&family=Young+Serif&display=swap');

* {
    box-sizing: border-box;
}

body
{
    margin: 0;
}

header
{
    position: absolute;
    top: 0;
    height: 10vh;
    width: 100%;
    box-shadow: 4px 2px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
}

.menu_icon {
    display: none;
}

@media screen and (max-width: 600px) {

    /* HEADER STYLES FOR SMALLER SCREENS : START */
    header {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        width: 100%;
        
        /* padding-left: 5rem;
        padding-right: 5rem; */

        #menu > * {
            display: none;
        }
    }

    .menu_icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .hor {
            height: 4px;
            width: 30px;
            background-color: #4070F4;
            border-radius: 5px;
        }
    }

    header p {
        font-size: 25px;
    }
    /* HEADER STYLES FOR SMALLER SCREENS : END */

    /* SECTION HOME FOR SMALLER SCREENS */
    .home_main {
        padding-top: 3rem;
    }
    #section2 * {
        display: none;
    }
}

@media screen and (min-width: 601px) {
    /* for small screens */
}

@media screen and (min-width: 1025px) {
    /* for small screens */
}



.log, h2 
{
    font-weight: 4;
    font-family: 'Young Serif';
    color: #4070F4;
    margin: 0;
}

#menu
{
    font-family: 'Noto Sans JP', sans-serif;
}

.sub-title
{
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 20px;
}

#menu
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.menu-itm
{
    text-decoration: none;
    color: black;
}

.home {
    padding-top: 5rem;
}

#home-menu-itm
{
    border-bottom: 2px solid blue;
}

#home_footer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-top: 2rem;
}

.social-ic
{
    height: 15px;
    width: 15px;
}

h1
{
    font-size: 2.8rem;
    font-family: 'Martian Mono', monospace;
    margin-bottom: 0;
}

span
{
    color: #4070F4;
}

button
{
    border: none;
    height: 30px;
    width: 100px;
    background-color: #4070F4;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

#home_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section1 {
    flex: 1;
    padding-left: 5rem;
    margin-bottom: 7rem;
}

@media screen and (max-width: 600px) {
    #section1 {
        padding-left: 3.5rem;
    }
}

#section2
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*PROJECTS*/
.blob
{
    position: absolute;
    bottom: -6rem;
    left: -5rem;
}

.blob2
{
    position: absolute;
    top: -6rem;
    left: -5rem;
}

#projects
{
    position: relative;
    font-family: "Poppin", sans-serif;
	background-color: #fff;
	height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
	display: flex;
	align-items: center;
    flex-direction: column;
	justify-content: center;
}

.cover h1
{
    color: #fff;
    font-family: 'Young Serif' !important;
    margin: 0;
}

.book {
	width: 350px;
	height: 450px;
	position: relative;
	transition-duration: 1s;
	perspective: 1500;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
	display: none;
}

.cover-front-page
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	box-sizing: border-box;
	padding: 1rem;
}

.cover, .back-cover {
	background-color: #4070F4;
    opacity: 1;
	width: 80%;
	height: 80%;
    text-align: center;
	border-radius: 0 15px 15px 0;
	box-shadow: 0 0 5px rgb(41, 41, 41);
	display: flex;
	align-items: center;
	justify-content: center;
	transform-origin: center left;
}

.cover {
	position: absolute;
	z-index: 4;
	transition: transform 1s;
    transform-style: preserve-3d;
}

.cover  label {
	width: 70%;
	height: 70%;
	cursor: pointer;
}

.back-cover {
	position: relative;
	z-index: -1;
}
.page {
	position: absolute;
	background-color: white;
	width: 75%;
	height: 75%;
	border-radius: 0 15px 15px 0;
	margin-top: 10px;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition-duration: 1.5s;
}

.page img {
	width: 100%;
	height: 60%;
	border-radius: 15px 0 0 15px;
}

.back-page .port-img
{
    width: 90%;
	height: 50%;
	border-radius: 15px 0 0 15px;
}

.back-page .preview
{
    height: 25px;
    width: 90px;
    border: 1px solid #4070F4;
    text-align: center;
    line-height: 25px;
}

.back-page a
{
    text-decoration: none;
    color: #4070F4;
}

.front-page {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	box-sizing: border-box;
	padding: 1rem;
}

.front-page p
{
    font-size: 14px !important;
}

.back-page {
	transform: rotateY(180deg);
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.next, .prev {
	position: absolute;
	bottom: 1em;
	cursor: pointer;
}
.next {
	right: 1em;
}
.prev {
	left: 1em;
}
#page1 {
	z-index: 3;
}
#page2 {
	z-index: 2;
}
#page3 {
	z-index: 1;
}
#checkbox-cover:checked ~ .book {
	transform: translateX(120px);
}
#checkbox-cover:checked ~ .book .cover {
	transition: transform 1.5s, z-index 0.5s 0.5s;
	transform: rotateY(-180deg);
	z-index: 1;
}
#checkbox-cover:checked ~ .book .page {
	box-shadow: 0 0 3px rgb(99, 98, 98);
}
#checkbox-page1:checked ~ .book #page1 {
	transform: rotateY(-180deg);
	z-index: 2;
}
#checkbox-page2:checked ~ .book #page2 {
	transform: rotateY(-180deg);
	z-index: 3;
}

.small_screens {
    display: none;

    .heading {
        text-align: center;
    }
    
    .project {
        position: relative;
        width: 350px;
        height: 55vh;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        text-align: left;
        border-radius: 10px;
        color: #1a2d62;

        .img {
            height: 50%;
            width: 100%;
        }

        .title {
            text-align: center;
            color: #4070F4;
            font-size: 23px;
        }

        .desc {
            padding: 0 10px 0 10px;
            text-align: left;
            max-width: 95%;
        }

        .view {
            text-decoration: underline;
            color: #4070F4;
            text-align: left;
            padding-left: 10px;
        }
    }
}

.small_screens a {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    #projects {
        height: auto;
        padding-bottom: 5rem;
    }

    .large_screens {
        display: none;
    }

    .small_screens {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-top: 6rem;
    }
}


/*SKILLS STYLES*/
.skills_container
{
    height: 100vh;
    font-style: consolas;

    display: flex;
    align-items: center;
    justify-content: center;
}

.skills_inner_container
{
    position: relative;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    background: #fff;
    opacity: 1;
    height: 80vh;
    width: 80vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .heading {
        transform: rotate(270deg);
        margin: 0;
        border-bottom: 3px solid #4070f4;
        padding-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    .skills_inner_container {
        box-shadow: 0 0 0 0;
        width: 85vw;

        .heading {
            display: none;
        }
    }
}

.skills_middle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
}

.langs_and_tools
{
    height: 55vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}


.skills_row
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.skill_container
{
    height: 120px;
    width: 110px;
    background-color: #fff;
    color: #4070F4;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-rows: 80% 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

