@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&family=Noto+Sans+JP:wght@300&family=Young+Serif&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #4070F4;
    --secondary-color: #815D44;
    --darkmode: #060b18;
    --lightH1: #000000;
    --youngserif: 'Young Serif';
    --noto: 'Noto Sans JP', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    margin: 0 auto;
    background-color: #fff;
}

.lightBody {
    background-color: #fff;
}

.darkBody {
    background-color: var(--darkmode);
}

.darkBody h1 {
    color: #fff;
}

.darkBody .menu_mobile {
    background-color: var(--darkmode);
}

.darkBody a {
    color: white;
}

.darkBody header {
    background-color: var(--darkmode);
    border-bottom: 1px solid #20387a;
}

.darkBody .skill_container {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.darkBody .skills_inner_container .heading {
    color: white;
}

.darkBody p {
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    height: 11vh;
    width: 100%;
    box-shadow: 2px 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    z-index: 12;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0.5rem;
    gap: 2rem;
}

.darkmode {
    cursor: pointer;
}

.menu_icon {
    display: none;
}

.menu_mobile {
    position: absolute;
    top: 10vh;
    z-index: 15;
}

.menu_mobile > a {
    color: var(--primary-color);
}

.noshow {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    gap: 4rem;
    align-items: center;
    background-color: #fff;
    padding: 5rem 0;
    font-size: 17px;
    font-family: var(--noto);
    position: fixed;
}

@media screen and (max-width: 480px) {

    header {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        width: 100%;
        max-width: 100%;
    }

    header #menu {
        display: none;
    }
    
    .menu_icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        cursor: pointer;   
    }
    
    .menu_icon .one, 
    .menu_icon .two, 
    .menu_icon .three {
        height: 2px;
        width: 20px;
        background-color: var(--primary-color);
        border-radius: 5px;        
    }

    .menu_icon .one {
        z-index: 1;
    }

    .menu_icon .two {
        z-index: 2;
    }
    
    .menu_icon .three {
        z-index: 3;
    }
    
    
    .menu_icon.exit div:nth-child(1) {
        /* animation: name duration timing-function delay iteration-count direction */
        animation: div_one_to_middle 0.5s ease-in forwards;
    }
    
    .menu_icon.exit div:nth-child(2) {
        animation: div_two_dissapear 0.5s ease-in forwards;
    }
    
    .menu_icon.exit div:nth-child(3) {
        animation: div_three_to_middle 0.5s ease-in forwards;
    }
    
    
    @keyframes
    div_one_to_middle {
        0% {
            transform: translateY(0) rotate(0);
        }
        50% {
            transform: translateY(6px);
        }
        100% {
            transform: translateY(6px) rotate(45deg);
        }
    }
    
    @keyframes
    div_two_dissapear {
        0% {
            transform: scale(1);
            opacity: 1;
        }
    
        100% {
            transform: scale(0);
            opacity: 0;
        }
    }
    
    @keyframes
    div_three_to_middle {
        0% {
            transform: translateY(0) rotate(0);
        }
        50% {
            transform: translateY(-6px);
        }
        100% {
            transform: translateY(-6px) rotate(135deg);
        }
    }
    
    .menu_icon.reverse_animation div:nth-child(1){
        animation: reverse_one 0.5s ease-in forwards;
    }
    
    .menu_icon.reverse_animation div:nth-child(2){
        animation: reverse_two 0.5s ease-in forwards;
    }
    .menu_icon.reverse_animation div:nth-child(3){
        animation: reverse_three 0.5s ease-in forwards;
    }
    
    @keyframes reverse_one {
        0% {
            transform: translateY(6px) rotate(45deg);
        }
        50% {
            transform: translateY(6px);
        }
        100% {
            transform: translateY(0)  rotate(0);
        }
    }
    
    @keyframes reverse_two {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    @keyframes reverse_three {
        0% {
            transform: translateY(-6px) rotate(135deg);
        }
        50% {
            transform: translateY(-6px);
        }
        100% {
            transform: translateY(0) rotate(0);
        }
    }

    /* SECTION HOME FOR SMALLER SCREENS */
    #section2 * {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    /* for small screens */
}



.log, h2 {
    font-weight: 4;
    font-family: var(--youngserif);
    color: var(--primary-color);
    margin: 0;
}

.log {
    font-size: 23px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

#menu {
    font-family: var(--noto);
}

.sub-title {
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 20px;
}

#menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.menu-itm {
    text-decoration: none;
    color: black;
}

.home {
    position: relative;
}

.home .scrolldown {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 5px;
    bottom: 7rem;
    right: 2rem;
    padding: 3px 10px;
    border-radius: 10px;
    position: absolute;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 10;
}

@media screen and (max-width: 480px) {
    .home .scrolldown {
        bottom: 11vh;
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .home {
        padding-top: 10rem;
    }
}

@media screen and (max-width: 480px) {
    .home {
        height: 100vh;
        padding-top: 3rem;
    }
}

.border {
    border-bottom: 2px solid blue;
}

#home_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-top: 1rem;
}

#home_footer a {
    background-color: white;
    padding: 5px 8px;
    border-radius: 50%;
    padding-top: 8px;
}

#home_footer a:hover {
    background-color: var(--primary-color);
    color: white;
    transition: 0.5s;
    transform: translateY(-5px);
}

.social-ic {
    height: 15px;
    width: 15px;
}

.heroH1 {
    font-size: 50px;
    font-family: 'Martian Mono', monospace;
    margin-bottom: 0;
    color: var(--lightH1);
}

@media screen and (max-width: 480px){
    .heroH1 {
        font-size: 45px;
    }
}

span
{
    color: var(--primary-color);
}

.hire,
button
{
    border: none;
    padding: 10px 35px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 20px;
    text-decoration: none;
}

#home_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 480px) {
    #home_main {
        margin-top: 3rem;
    }
}

#section1 {
    flex: 1;
    padding-left: 5rem;
    margin-bottom: 7rem;
    padding-top: 5rem;
}

@media screen and (max-width: 480px) {
    #section1 {
        padding-left: 2.5rem;
        padding-top: unset;
    }
}

#section2
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.about .about_wrapper img {
    display: none;
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 480px) {
    .about .about_wrapper img {
        display: block;
    }
}

.about .about_wrapper .columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.about .about_wrapper .column1 {
    flex: 1;
}

.about .about_wrapper .column2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.about .about_wrapper .column2 .achievements {
    display: flex;
    gap: 2rem;
    align-items: center;  
}

.about .about_wrapper .column2 .achievements .sm_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.about .about_wrapper .column2 .achievements .sm_column h3 {
    font-size: 30px;
    color: var(--secondary-color);
}

.about .about_wrapper .column2 .achievements .sm_column * {
    margin: 0;
}

.about .about_wrapper .column2 .resume {
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-color);
    width: fit-content;
    cursor: pointer;
}

.about .about_wrapper .column2 .resume p {
    margin: 0;
}

@media screen and (max-width: 480px) {
        div.columns {
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
        }

        .columns .column2 {
            align-items: flex-start;
        }

        @media screen and (max-width: 480px) {
            .columns .column2 {
                align-items: center;
                width: 100%;
            }
        }

        .columns .column2 .achievements {
            text-align: left;
        }
    }

.about .paragraph,
.about .paragraphAbout {
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

.about .paragraphAbout {
    text-align: center;
}

@media screen and (max-width: 480px) {
    .dissapear {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .about {
        padding: 15vh 2.5rem 0 2.5rem;
        height: auto;
    }
}


/*PROJECTS*/
.blob
{
    position: absolute;
    top: -4rem;
    left: -8rem;
}

#projects
{
    position: relative;
    font-family: "Poppin", sans-serif;
	display: flex;
	align-items: center;
    flex-direction: column;
	justify-content: center;
    padding-top: 22vh;
    overflow: hidden;
}

#projects .heading {
    display: none;
}

@media screen and (max-width: 480px) {
    #projects {
        margin-top: -5vh;
    }

    #projects .heading {
        display: block;
    }
}

.small_screens {
    display: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.small_screens .heading {
    text-align: center;
}

.small_screens .project {
    position: relative;
    width: 350px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    text-align: left;
    border-radius: 10px;
    color: #1a2d62;
    padding: 2rem 1rem;
}

.small_screens .project .img {
    height: 45%;
    width: 100%;
}

.small_screens .project .titleAndStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.small_screens .project .title {
    text-align: left;
    color: var(--primary-color);
    font-size: 15px;
    padding: 0 1rem;
    padding-top: 10px;
    margin: 0;
}

.small_screens .project .desc {
    padding: 0 10px 0 10px;
    text-align: left;
    max-width: 95%;
    line-height: 1.4;
}

.small_screens .project .view {
    text-decoration: underline;
    color: var(--primary-color);
    text-align: left;
    padding-left: 10px;
}

.small_screens a {
    text-decoration: none;
}

.small_screen a:hover {
    background-color: #1a2d62;
}

.large_screens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

@media screen and (max-width: 480px) {
    #projects {
        height: auto;
        padding-bottom: 2rem;
    }

    .large_screens {
        display: none;
    }

    .small_screens {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding-top: 3rem;
    }
}

.projects_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around !important;
    padding-left: 5rem;
    padding-right: 5rem;
}

.slide1, .slide2, .slide3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.proj_name_and_pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}

.projectdesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    flex: 1;
}

.projectdesc p {
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 350px;
}

.projectdesc .spans,
.small_screens .spans {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.projectdesc span,
.small_screens span {
    display: block;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

@media screen and (max-width: 480px) {
    .projectdesc span,
    .small_screens span {
        padding: 5px 10px;
    }
}

.project .spans {
    padding-left: 1rem;
    margin: 15px 0;
}

.project .spans span {
    font-size: 9px;
}


/*SKILLS STYLES*/
.skills_container
{
    position: relative;
    font-family: consolas;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}


.skills_inner_container
{
    opacity: 1;
    height: 70vh;
    width: 80vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.skills_inner_container .heading {
    transform: rotate(270deg);
    margin: 0;
    border-bottom: 3px solid var(--primary-color);
    padding-top: 50px;
}

@media screen and (max-width: 480px) {
    .skills_inner_container {
        box-shadow: 0 0 0 0;
        width: 85vw;
    }

    .skills_inner_container .heading {
        display: none;
    }
}

.skills_middle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    text-align: center;
    padding-top: 11vh;
}

.langs_and_tools
{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

@media screen and (max-width: 480px) {
    .langs_and_tools {
        width: auto;
    }
}

.skill_container
{
    height: 15vh;
    width: 8vw;
    color: var(--primary-color);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-rows: 80% 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;

}

.skill_container .img {
    height: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .skill_container {
        height: 10vh;
        width: 15vw;

    }
    .skill_container .img {
        height: 50%;
    }
}

.skill_container h4 {
    font-size: 80%;
}

@media screen and (max-width: 480px) {
    .skill_container {
        height: 10vh;
        width: 10vh;
    }
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    line-height: 8vh;
    font-family: consolas;
    z-index: 11;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    background-color: #1a2d62;
}

.blog {
    padding-top: 11vh;
    height: 111vh;
}

.contact_wrap {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .contact_wrap {
        margin-top: -6rem;
    }
}

.contact_wrap p {
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 80vw;
    text-align: center;
}

.contact_wrap span {
    color: var(--primary-color);
}

.socials img {
    height: 8vh;
    width: 4vw;
}

@media screen and (max-width: 480px) {
    .socials img {
        height: 7vh;
        width: 12vw;
    }
}

.socials {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
}